USE [master]
GO
/****** Object:  Database [Libaray]    Script Date: 12/05/2020 3:18:18 PM ******/
CREATE DATABASE [Libaray]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Libaray', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Libaray.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Libaray_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Libaray_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Libaray].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Libaray]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 12/05/2020 3:18:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [varchar](50) NOT NULL,
	[Author] [varchar](30) NOT NULL,
	[Available] [varchar](5) NULL,
	[Borrower] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/05/2020 3:18:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Mobile] [char](10) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rent]    Script Date: 12/05/2020 3:18:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rent](
	[BorrowID] [int] IDENTITY(1,1) NOT NULL,
	[BookIDFK] [int] NULL,
	[CustIDFK] [int] NULL,
	[BorrowDate] [date] NULL,
	[ReturnedDate] [date] NULL,
 CONSTRAINT [PK_Rent] PRIMARY KEY CLUSTERED 
(
	[BorrowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 12/05/2020 3:18:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [BookName], [Author], [Available], [Borrower]) VALUES (1, N'The Fault in Our Stars', N'John Green', N'No', N'Yes')
INSERT [dbo].[Books] ([BookID], [BookName], [Author], [Available], [Borrower]) VALUES (2, N'The Kite Runner', N'Khaled Hosseini', N'Yes', NULL)
INSERT [dbo].[Books] ([BookID], [BookName], [Author], [Available], [Borrower]) VALUES (3, N'The Alchemist', N'Paulo Coelho', N'Yes', NULL)
SET IDENTITY_INSERT [dbo].[Books] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustID], [FirstName], [LastName], [Address], [Mobile]) VALUES (1, N'Jatinder', N'Singh', N'ZYX', N'2589632587')
INSERT [dbo].[Customer] ([CustID], [FirstName], [LastName], [Address], [Mobile]) VALUES (2, N'Jaskaran', N'Singh', N'CDF', N'1489632587')
INSERT [dbo].[Customer] ([CustID], [FirstName], [LastName], [Address], [Mobile]) VALUES (4, N'Karan', N'Singh', N'YTG', N'369963697 ')
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Rent] ON 

INSERT [dbo].[Rent] ([BorrowID], [BookIDFK], [CustIDFK], [BorrowDate], [ReturnedDate]) VALUES (3, 1, 1, CAST(N'2020-05-12' AS Date), CAST(N'2020-05-12' AS Date))
INSERT [dbo].[Rent] ([BorrowID], [BookIDFK], [CustIDFK], [BorrowDate], [ReturnedDate]) VALUES (4, 4, 4, CAST(N'2020-05-09' AS Date), NULL)
INSERT [dbo].[Rent] ([BorrowID], [BookIDFK], [CustIDFK], [BorrowDate], [ReturnedDate]) VALUES (5, 5, 2, CAST(N'2020-05-10' AS Date), CAST(N'2020-05-12' AS Date))
SET IDENTITY_INSERT [dbo].[Rent] OFF
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

INSERT [dbo].[UserDetails] ([UserID], [UserName], [Email], [Password]) VALUES (1, N'Jatinder', N'Jatinder@atc.na', N'123456789')
INSERT [dbo].[UserDetails] ([UserID], [UserName], [Email], [Password]) VALUES (2, N'Sahil', N'Sahil@atc.nz', N'258963258')
INSERT [dbo].[UserDetails] ([UserID], [UserName], [Email], [Password]) VALUES (3, N'Chetan', N'Chetan@atc.nz', N'123654789')
SET IDENTITY_INSERT [dbo].[UserDetails] OFF
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Books] FOREIGN KEY([BookIDFK])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Books]
GO
ALTER TABLE [dbo].[Rent]  WITH CHECK ADD  CONSTRAINT [FK_Rent_Customer] FOREIGN KEY([CustIDFK])
REFERENCES [dbo].[Customer] ([CustID])
GO
ALTER TABLE [dbo].[Rent] CHECK CONSTRAINT [FK_Rent_Customer]
GO
USE [master]
GO
